*{
    margin: 0;
    padding: 0;
    border-style: border-box;
}

body {
     font-family: sans-serif;
     margin:20px;
     line-height: 1.5rem;
     /* overflow:initial; */
     
}

#central-head {
    text-align: center;
    font-family: sans-serif;
    font-weight: 200;
    padding: 20px;
}

#central-head p{
    font-size: 0.5rem;
}

#central-head h1{
    font-size: 1.8rem;
    color: grey;
}

#navbar{
    display: flex;
    flex-direction:row-reverse;
    justify-content:space-between;
    padding:20px 30px;
}

#nav-list{
    list-style: none;
}

.list-items a{
    text-decoration: none;
    color: black;
}

a:hover {
    color: red;
}


.list-items{
    display: inline;
    padding: 10px;
}

#main-header {
    margin: auto;
}

#hero{
    width: 100%;
}

#contact-list {
    background-color:black !important;
    border-radius: 2rem;
}

#contact-list a{
    color: aliceblue;
}

#contact-list a:hover{
    color: brown;
}

#central-box {
    display: flex;
    flex-direction: row;
}

.box-1 {
     /* border: 2px solid black ;  */
    margin: 20px 10px;
    height: 380px;
    padding: 30px;
    line-height: 30px;
}

#first-icon{
    font-size: 50px;
    padding-left: 120px;
    height: 100px;
}

.box-1 h3{
    padding: 10px;
}

#btn {
    width: 150px;
    height: 50px;
    margin: 20px;
    float: right;
    border-radius: 0.5rem;
    border-color:antiquewhite;
}


#about-box{
    display: flex;
}

.indexbox{
     /* border: 2px solid black;  */
    margin: 10px;
    height: 500px;
    padding: 15px;
    margin-bottom:40px ;
    background-color: rgb(226, 219, 219);

}

.indexbox h2{
    padding: 15px;
    line-height: 2rem;
}

.btn2 {
    margin: 20px;
    margin-left: 260px;
    width: 100px;
    height: 40px;
    border-radius: 1rem;
    border-color:azure;
}

#img1 {
    width:100% ;
    height: 400px;
}

#Services {
    display: flex;
    flex-direction: row;
}

.servicebox {
    /* border: 2px solid black; */
    margin: 9px;
    padding: 25px;
}

.innerbox {
    display: flex;
    margin: 20px;
}

.txtbox {
    /* border: 2px solid blue; */
    padding: 30px;
    background-color: rgb(240, 234, 234);
}

.txtbox h2 {
    padding: 10px;
}

#contact {
    display: flex;
}

#contactbox1 {
    /* border: 2px solid black;  */
    margin: 10px;
    padding: 10px;
    width: 900px;
    margin-left:20px ;
}


#formbox {
    display: flex;
    margin-bottom: 20px;
}

.inputbox {
    margin:0px 10px;
}

input {
    width:250px;
    height:30px ;
    border-color: rgb(219, 216, 216);
    border-style:groove
}

#textarea {
    width: 525px;
    height: 100px;

}

#textareabox {
    margin-left:10px;
    border-color: rgb(219, 216, 216);
}

#btn3 {
    margin-top: 10px;
    margin-left: 388px;
    width: 150px;
    height: 40px;
    border-radius: 1rem;
    border-color:azure;
}


#text1 {
    width: 620px;
    margin: 10px;
    padding: 10px;
}

#text1 h2 {
    margin: 15px;
}

#text2 {
    width: 300px;
    margin: 10px;
    padding: 10px;
}



#main-footer {
    /* border: 2px solid black; */
    width: 900px;
    text-align: center;
    margin-left:190px;
    margin-top: 10px;
}

